<configuration
    xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role"
    xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
  <sitecore>
    <Messaging>
      <Rebus>
        <SitecoreMessagingTopicSample.Messaging.TopicSampleBus role:require="ContentManagement">
          <Transport>          
            <AzureServiceBus messagingTransport:require="AzureServiceBus">
              <OneWay>true</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>        
            </AzureServiceBus>
          </Transport>         
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </SitecoreMessagingTopicSample.Messaging.TopicSampleBus>

        <SitecoreMessagingTopicSample.Messaging.TopicSampleBus  role:require="ContentDelivery">
          <Transport>
            <AzureServiceBus messagingTransport:require="AzureServiceBus">
              <OneWay>false</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <Mode>Standard</Mode>
              <InputQueueName role:require="ContentDelivery">CDSubscriber01</InputQueueName>
            </AzureServiceBus>
          </Transport>
          <Subscribers>
            <TypeMappings>
              <TaskStatusMapping>
                <Type>SitecoreMessagingTopicSample.Messaging.SampleMessageContract, SitecoreMessagingTopicSample</Type>
                <PublisherQueue>Sitecore_CM_PublisherQueue</PublisherQueue>
              </TaskStatusMapping>
            </TypeMappings>
          </Subscribers>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </SitecoreMessagingTopicSample.Messaging.TopicSampleBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>