<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore >
    <pipelines>     
      <initialize>
        <processor type="SitecoreMessagingQueueSample.Messaging.InitializeSampleMessaging, SitecoreMessagingQueueSample" resolve="true" />        
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" type="SitecoreMessagingQueueSample.RegisterHttpRoutes, SitecoreMessagingQueueSample" />
      </initialize>
    </pipelines>
  
    <services>
      <configurator type="SitecoreMessagingQueueSample.Messaging.QueueSampleReceiverConfiguration, SitecoreMessagingQueueSample" role:require="Standalone or ContentManagement"/>
		</services>
  </sitecore>
</configuration>
